.titulo {
<<<<<<< HEAD
    text-align: center;
    color: black;
    
  }
  
  #home {
    color: brown;
  }
=======
  text-align: center;
  color: black;
  
}

#home {
  color: brown;
}
>>>>>>> 285b85c57297e0a2f01fac112c96db4274890252
