.titulo {
  text-align: center;
  color: black;
  
}

#home {
  color: brown;
}

footer {
  position:fixed;
  bottom: 0px;
  width: 100%;
  color: black;
  padding: 1rem !important;
}

#nav-style{
  background: rgba( 255, 255, 255, 0.35 );
  box-shadow: 0 4px 8px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 13.5px );
  -webkit-backdrop-filter: blur( 13.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

#footer-style{
  background: rgba( 255, 255, 255, 0.35 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 13.5px );
  -webkit-backdrop-filter: blur( 13.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

#thead-style{ 
  background: rgba( 255, 255, 255, 0.35 );
  box-shadow: 0 2px 16px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 13.5px );
  -webkit-backdrop-filter: blur( 13.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );

}

#button-add-carro{
  box-shadow: 0 2px 8px 0 rgba( 31, 38, 135, 0.37 );
}

.error {
  color: red;
  background: rgba( 255, 255, 255, 0.35 );
  box-shadow: 0 2px 16px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 13.5px );
  -webkit-backdrop-filter: blur( 13.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}