{% extends 'layouts/layout.html' %}
{% block title %} Principal{% endblock %}
{% block content %}
<div class=" container is-widescreen has-text-centered"> <br> <!--QUEBRA DE LINHA DO TÍTULO-->
  <h1 class="title is-3 has-text-weight-bold">Bem-Vindo a Área do Cliente</h1>
</div>

<section class="section">
  <div class="box container is-widescreen">
    <div class="columns">
      <div class="column">
      </div>

      <div class="column is-two-thirds">
        <!-- icone carro ? -->
        <h2 class="title is-4"><img src="static/images/car2.png" width="28" height="7"
            style="vertical-align: middle">&nbsp;Meus Carros</h2>
      </div>
      <div class="column">
        <button type="button" class="js-modal-trigger button is-rounded is-info" data-target="modalAddCar"
          data-bs-toggle="modal" data-bs-target="#modalAddCar" id="button-add-carro"><img src="/static/images/add.png"
            width="20" height="7">
          &nbsp;&nbsp;<strong>Adicionar Carro</strong>
        </button>
      </div>
    </div>

    <!-- modal Add Car -->
    <div class="modal" id="modalAddCar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <!-- Conteúdo da modal aqui -->
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title" id="labeladdcar">Novo Carro</p>
          <p class="msg"></p>
          <button type="button" class="delete btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </header>
        <section class="modal-card-body">
          <form id="carroForm">
            <div class="field" hidden>
              <label for="id_usuario" class="label">id_usuario:</label>
              <div class="control">
                <input type="text" class="input is-rounded" name="id_usuario-carro" id="id_usuario-carro"
                  placeholder="3" value="1" disabled>
              </div>
            </div>
            <div class="field">
              <label for="cor" class="label">Cor:</label>
              <div class="control">
                <input type="text" class="input is-rounded" name="cor" id="cor-carro" placeholder="Azul" title="Adicione a cor do seu carro" required>
              </div>
            </div>
            <div class="field">
              <label for="placa" class="label">Placa:</label>
              <div class="control">
                <input type="text" class="input is-rounded" name="placa" id="placa-carro" placeholder="XYZ-1234" title="Adicione a placa do seu carro" required>
              </div>
            </div>
            <div class="field">
              <label for="Marca" class="label">Marca:</label>
              <div class="control">
                <input type="text" class="input is-rounded" name="marca" id="marca-carro" placeholder="VW, Ford..." title="Adicione a marca do seu carro" required>
              </div>
            </div>
            <div class="field">
              <label for="Modelo" class="label">Modelo:</label>
              <div class="control">
                <input type="text" class="input is-rounded" name="modelo" id="modelo-carro" placeholder="Gol..." title="Adicione o modelo do seu carro" required>
              </div>
            </div>
            <div class="field">
              <label for="Ano" class="label">Ano:</label>
              <div class="control">
                <input type="number" class="input is-rounded" name="ano" id="ano-carro" placeholder="1991" title="Adicione ano de fabricação do seu carro" required>
              </div>
            </div>
            <div class="field">
              <label for="Km" class="label">Km:</label>
              <div class="control">
                <input type="number" class="input is-rounded" name="km" id="km-carro" placeholder="316.000" title="Adicione a Km atual do seu carro" required>
              </div>
            </div>
          </form>
        </section>
        <footer class="modal-card-foot">
          <button type="button" class="button is-rounded is-light" data-bs-dismiss="modal"
            style="color: black;box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );">Cancelar</button>
          <button type="submit" class="button is-warning is-rounded js-no-close" class="submit" id="submit-button" onclick="enviarFormulario()" style="color: black;">
            <strong>Adicionar Carro</strong></button>
        </footer>
      </div>
    </div>

    <hr />
    <div class="container is-offset-one-quarter">

      <table class="table is-hoverable  container is-offset-one-quarter">
        <thead id="thead-style">
          <tr>
            <th style="border:0" scope="col">Placa</th>
            <th style="border:0" scope="col">Cor</th>
            <th style="border:0" scope="col">Marca</th>
            <th style="border:0" scope="col">Modelo</th>
            <th style="border:0" scope="col">Ano</th>
            <th style="border:0" scope="col">KM</th>
            <th style="border:0" scope="col">Ações</th> <!-- Coluna para botões de ação -->
          </tr>
        </thead>
        <tbody>
          {% for carro in veiculos %}
          <tr>
            <td>{{ carro["placa"] }}</td>
            <td>{{ carro["cor"] }}</td>
            <td>{{ carro["marca"] }}</td>
            <td>{{ carro["modelo"] }}</td>
            <td>{{ carro["ano"] }}</td>
            <td>{{ carro["km"] }}</td>
            <td>
              <!-- Botão de edição -->
              <button class="js-modal-trigger button is-rounded is-info is-small edit-carro-btn"
                data-target="modalEditCar" data-id="{{ carro.id_veiculo }}" data-bs-toggle="modal"
                data-bs-target="#modalEditCar">
                <img src="/static/icons/icon-editar-branco.png" width="17" height="6"> &nbsp;
                Editar </button>
              <!-- modal Edit Car -->
              <div class="modal" id="modalEditCar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <!-- Conteúdo da modal aqui -->
                <div class="modal-background"></div>
                <div class="modal-card">
                  <header class="modal-card-head">
                    <p class="modal-card-title" id="labeladdcar">Editar Carro</p>
                    <button type="button" class="delete btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </header>
                  <section class="modal-card-body">
                    <form id="carroFormEdit">
                      <div class="field" hidden>
                        <label for="id_usuario" class="label">id_usuario:</label>
                        <div class="control">
                          <input type="text" class="input  is-rounded" name="id_usuario-carro"
                            id="id_cliente-carro-edit" value="{{ carro.id_veiculo }}" readonly>
                        </div>
                      </div>
                      <div class="field">
                        <label for="cor" class="label">Cor:</label>
                        <div class="control">
                          <input type="text" class="input is-rounded" name="cor" id="cor-carro-edit"
                            value="{{ carro.cor }}">
                        </div>
                      </div>
                      <div class="field">
                        <label for="placa" class="label">Placa:</label>
                        <div class="control">
                          <input type="text" class="input is-rounded" name="placa" id="placa-carro-edit"
                            value="{{ carro.placa }}">
                        </div>
                      </div>
                      <div class="field">
                        <label for="Marca" class="label">Marca:</label>
                        <div class="control">
                          <input type="text" class="input is-rounded" name="marca" id="marca-carro-edit"
                            value="{{ carro.marca }}">
                        </div>
                      </div>
                      <div class="field">
                        <label for="Modelo" class="label">Modelo:</label>
                        <div class="control">
                          <input type="text" class="input is-rounded" name="modelo" id="modelo-carro-edit"
                            value="{{ carro.modelo }}">
                        </div>
                      </div>
                      <div class="field">
                        <label for="Ano" class="label">Ano:</label>
                        <div class="control">
                          <input type="number" class="input is-rounded" name="ano" id="ano-carro-edit"
                            value="{{ carro.ano }}">
                        </div>
                      </div>
                      <div class="field">
                        <label for="Km" class="label">Km:</label>
                        <div class="control">
                          <input type="number" class="input is-rounded" name="km" id="km-carro-edit"
                            value="{{ carro.km }}">
                        </div>
                      </div>
                    </form>
                  </section>
                  <footer class="modal-card-foot">
                    <button type="button" class="button is-rounded is-light" data-bs-dismiss="modal"
                      style="color: black;box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );">Cancelar</button>
                    <button type="submit" class="button is-warning is-rounded atualizar-carro-btn" style="color: black;"
                      data-id="{{ carro.id_veiculo }}">Atualizar
                      Carro</button>
                  </footer>
                </div>
              </div>
              <!-- Botão de exclusão -->
              <button class="js-modal-trigger button is-danger is-rounded is-small excluir-carro-btn"
                data-id="{{ carro.id_veiculo }}" data-target="confirmDeleteModal">
                <img src="/static/icons/icon-x-branco.png" width="13" height="4"> &nbsp;
                Excluir</button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

  </div>

  <div class="box container is-widescreen">
    <div class="columns">
      <div class="column">
      </div>

      <div class="column is-two-thirds">
        <!-- icone carro ? -->
        <h2 class="title is-4"><img src="static/images/car2.png" width="28" height="7"
            style="vertical-align: middle">&nbsp;Alertas</h2>
      </div>
      <div class="column">
      </div>
      <hr />
      <div class="container is-offset-one-quarter">
        <!-- fazer lista de alertas de manutenção
                {for alerta in alertas}
                {endfor} 
        -->
      </div>
    </div>

  </div>
  <div>
    <!-- icone config ?-->
    <!-- <h2>Configurações</h2>
            <hr> -->
    <!-- fazer menu de configuracoes -->
  </div>
  <!-- Modal de Confirmação Delete -->
  <div class="modal" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel"
    aria-hidden="true">
    <div class="modal-background"></div>
    <div class="modal-card" role="document">
      <header class="modal-card-head">
        <p class="modal-card-title" id="confirmDeleteModalLabel">Confirmação de Exclusão</p>
        <button type="button" class="delete btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </header>
      <section class="modal-card-body">
        <div class="modal-body">
          Tem certeza de que deseja excluir este veículo?
        </div>
      </section>
      <footer class="modal-card-foot">
        <button type="button" class="button is-rounded is-light" data-bs-dismiss="modal"
          style="color: black;box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );">Cancelar</button>
        <button type="button" class="button is-danger is-rounded delete-carro-btn" style="color: black;"
          data-id="">Confirmar</button>
      </footer>

    </div>
  </div>
 
</section>
<script type="text/javascript" src="/static/js/index.js"></script>
{% endblock %}