{% extends 'layouts/layout.html' %}

{% block title %}: Formulario Carro{% endblock %}

{% block content %}
<h1 class="titulo">Formulario Carro</h1>
<form action="/add_carro" method="post">

  <div>
    <div>
      <label for="apelido">Apelido: ????</label>
      <input autocomplete="off" name="apelido" id="apelido-carro" placeholder="Lightning McQueen" type="text">
    </div>

    <div>
      <label for="cor">Cor:</label>
      <input autocomplete="off" name="cor" id="cor-carro" placeholder="Azul" type="text">
    </div>
    <div>
      <label for="placa">Placa:</label>
      <input autocomplete="off" name="placa" id="placa-carro" placeholder="XYZ-1234" type="text">
    </div>

    <div>
      <label for="marca">Marca:</label>
      <input autocomplete="off" name="marca" id="marca-carro" placeholder="VW, Ford..." type="text">
    </div>
    <div>
      <label for="modelo">Modelo:</label>
      <input autocomplete="off" name="modelo" id="modelo-carro" placeholder="Gol, Ecosport..." type="text">
    </div>
    <div>
      <label for="ano">Ano:</label>
      <input autocomplete="off" name="ano" id="ano-carro" placeholder="1991" type="text">
    </div>
    <div>
      <label for="km">KM:</label>
      <input autocomplete="off" name="km" id="km-carro" placeholder="316.000" type="number">
    </div>
    <button class="btn btn-primary" type="submit">Add</button>
  </div>
</form>


{% endblock %}