{% extends 'layouts/layout.html' %}

{% block title %}: Formulario Carro{% endblock %}

{% block content %}
<h1 class="titulo">Formulario Carro</h1>
<form action="/add_carro" method="post">

  <div>
    <div>
      <label for="id_usuario">id_usuario:</label>
      <input autocomplete="off" name="id_usuario" id="id_usuario-carro" placeholder="3" type="text" value="1">
    </div>

    <div>
      <label for="cor">Cor:</label>
      <input autocomplete="off" name="cor" id="cor-carro" placeholder="Azul" type="text" value="Amarelo">
    </div>
    <div>
      <label for="placa">Placa:</label>
      <input autocomplete="off" name="placa" id="placa-carro" placeholder="XYZ-1234" type="text" value="ZZZ-1234">
    </div>

    <div>
      <label for="marca">Marca:</label>
      <input autocomplete="off" name="marca" id="marca-carro" placeholder="VW, Ford..." type="text" value="VW">
    </div>
    <div>
      <label for="modelo">Modelo:</label>
      <input autocomplete="off" name="modelo" id="modelo-carro" placeholder="Gol..." type="text" value="Gol">
    </div>
    <div>
      <label for="ano">Ano:</label>
      <input autocomplete="off" name="ano" id="ano-carro" placeholder="1991" type="text" value="2024">
    </div>
    <div>
      <label for="km">KM:</label>
      <input autocomplete="off" name="km" id="km-carro" placeholder="316.000" type="number" value="26500">
    </div>
    <button class="btn btn-primary" type="submit">Add</button>
  </div>
</form>


{% endblock %}