{% extends 'layouts/layout.html' %}

{% block title %}: Formulario Carro{% endblock %}

{% block content %}
<h1 class="titulo">Formulario Carro</h1>

<!-- Alerta do Bootstrap -->
<div id="alerta" class="alert" style="display:none;"></div>


<form id="carroForm">

  <div>
    <div>
      <label for="id_usuario">id_usuario:</label>
      <input autocomplete="off" name="id_usuario" id="id_usuario-carro" placeholder="3" type="text">
    </div>

    <div>
      <label for="cor">Cor:</label>
      <input autocomplete="off" name="cor" id="cor-carro" placeholder="Azul" type="text">
    </div>
    <div>
      <label for="placa">Placa:</label>
      <input autocomplete="off" name="placa" id="placa-carro" placeholder="XYZ-1234" type="text">
    </div>

    <div>
      <label for="marca">Marca:</label>
      <input autocomplete="off" name="marca" id="marca-carro" placeholder="VW, Ford..." type="text">
    </div>
    <div>
      <label for="modelo">Modelo:</label>
      <input autocomplete="off" name="modelo" id="modelo-carro" placeholder="Gol..." type="text">
    </div>
    <div>
      <label for="ano">Ano:</label>
      <input autocomplete="off" name="ano" id="ano-carro" placeholder="1991" type="text">
    </div>
    <div>
      <label for="km">KM:</label>
      <input autocomplete="off" name="km" id="km-carro" placeholder="316.000" type="number">
    </div>
    <button class="btn btn-primary" type="button" onclick="enviarFormulario()">Add</button>
  </div>
</form>

<!-- Alerta do Bootstrap -->
<div id="alerta" class="alert" style="display:none;"></div>

<script>
  function enviarFormulario() {
    var formulario = document.getElementById("carroForm");
    var formData = new FormData(formulario);
    var objeto = {};
    formData.forEach(function(value, key){
      objeto[key] = value;
    });
    var json = JSON.stringify(objeto);

    // Agora você pode enviar o JSON usando fetch() ou outra biblioteca de sua escolha
    fetch('/veiculo', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: json
    }).then(response => {
      if (response.ok) {
        // Se a resposta for bem-sucedida (Status Code: 200), mostra o alerta de sucesso
        document.getElementById("alerta").innerHTML = '<div class="alert alert-success" role="alert">Veículo adicionado com sucesso!</div>';
        document.getElementById("alerta").style.display = 'block';
        
        // Aguarda 5 segundos antes de redirecionar para /
        setTimeout(function() {
          window.location.href = "/";
        }, 5000);
      } else {
        // Se a resposta não for bem-sucedida, mostra um alerta de erro
        document.getElementById("alerta").innerHTML = '<div class="alert alert-danger" role="alert">Ocorreu um erro ao adicionar o veículo.</div>';
        document.getElementById("alerta").style.display = 'block';
      }
    }).catch(error => {
      // Se houver erro na requisição, mostra um alerta de erro
      document.getElementById("alerta").innerHTML = '<div class="alert alert-danger" role="alert">Ocorreu um erro ao adicionar o veículo.</div>';
      document.getElementById("alerta").style.display = 'block';
      console.error('Erro ao adicionar veículo:', error);
    });
  }
</script>

{% endblock %}